@import "main";
@import "home";
@import "about";
@import "service";
@import "contact";
@import "items";
@import "summary";
@import "confirm";

#wrap {
  opacity: 0;
}

.link {
  text-transform: uppercase;
}

.nav {
  z-index         : 900;
  position        : fixed;
  display         : flex;
  width           : 100%;
  height          : 8rem;
  background-color: var(--clr-black-light);
  color           : var(--clr-primary-10);

  @at-root .logo-container {
    display        : flex;
    justify-content: center;
    width          : 40%;

    .logo {
      padding: 1rem;
    }

    @at-root .title-container {
      display        : flex;
      flex-direction : column;
      justify-content: center;

      .title {
        color    : var(--clr-red-dark);
        font-size: 1.75rem;
      }

      h2 {
        font-size: 1.25rem;
      }
    }

  }

  @at-root .links-container {
    flex       : 1;
    display    : flex;
    align-items: center;


    ul {
      display        : flex;
      justify-content: space-around;
      width          : 100%;

      li {
        font-size: 1.5rem;
        cursor   : pointer;
      }
    }
  }
}

/* Menu Btn */
.bar-container {
  display      : none;
  z-index      : 100;
  width        : 3.75rem;
  height       : 3.75rem;
  margin-left  : 10%;
  border-radius: 10px;
  cursor       : pointer;

  @at-root .bar {
    position : absolute;
    top      : 50%;
    color    : var(--clr-primary-10);
    transform: translate(-50%, -50%);

    .bar1,
    .bar2,
    .bar3 {
      width           : 2.5rem;
      height          : 0.125rem;
      margin          : 0.5rem 0;
      background-color: var(--clr-primary-10);
      transition      : 0.4s;
    }

    &:hover .bar1,
    &:hover .bar2,
    &:hover .bar3 {
      background-color: var(--clr-red-dark);
    }
  }
}


@media screen and (max-width: 1200px) {
  .nav {
    justify-content: flex-end;
  }

  .logo-container {
    display: flex;
    flex   : 1;

    .logo {
      width  : 30%;
      padding: 0;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1rem;
    }
  }

  .links-container {
    display: none;
  }

  .bar-container {
    display: block;
  }
}

/* mobile navbar*/
.mobile-nav {
  z-index   : 999;
  position  : fixed;
  width     : 100vw;
  height    : 100vh;
  background: linear-gradient(to top, var(--clr-black-light), #000);
  color     : var(--clr-primary-10);
  transform : translateY(-100vh);

  .mobile-links {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items    : center;
    height         : 80%;

    @at-root .link,
    .close {
      a {
        padding  : 1.5rem;
        font-size: 2rem;
        cursor   : pointer;

        &:hover {
          color: var(--clr-red-dark)
        }
      }
    }
  }
}

footer {
  @include linearGradient(bottom, var(--clr-black-light), #000);
  padding-top: 5rem;
  text-align : center;

  @at-root .footer-details {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content      : space-between;

    h4 {
      margin-top : 2rem;
      margin-left: 10%;
      text-align : start;
      font-size  : 1.75rem;
      color      : var(--clr-red-dark)
    }
  }

  .list {
    text-align: start;

    li {
      margin-left: 10%;
      font-size  : 1.25rem;
    }
  }

  .address {
    margin-bottom: 2rem;
  }

  hr {
    margin: 2rem auto;
    width : 80%;
  }

  h5 {
    padding-bottom: 3rem;
    font-size     : 1rem;
  }
}

#messenger {
  z-index  : 995;
  position : fixed;
  bottom   : 2rem;
  right    : 2rem;
  width    : 6.5rem;
  height   : 6.5rem;
  opacity  : 0;
  cursor   : pointer;
  animation: messenger 3.5s ease-in 0s infinite;

  @keyframes messenger {

    0%,
    75% {
      transform: none
    }

    75%,
    78% {
      transform: scale(1);
    }

    81%,
    84% {
      transform: scale(1.2);
    }

    84%,
    91% {
      transform: scale(1.1);
    }

    91%,
    90% {
      transform: scale(1.3);
    }

    90%,
    100% {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 576px) {
  #messenger {
    bottom: 1rem;
    right : 0.5rem;
    width : 4rem;
    height: 4rem;
  }
}